* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #000;
  color: #fff;
}

/* Header css */
.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/banner.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
  position: relative;
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.header nav .logo {
  width: 150px;
  cursor: pointer;
}

nav button {
  border: 0;
  outline: 0;
  background: #db0001;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}

.header-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header-content h1 {
  font-size: 48px;
  line-height: 1;
  font-weight: 900;
}
.header-content-inner {
  flex-basis: 50%;
}
.header-content h3 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 24px;
}
.email-signup {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem auto 0;
  width: 100%;
  max-width: 40rem;
}

.email-signup input {
  padding: 0.75rem 1rem;
  background: transparent;
  width: 70%;
  border: 1px solid #333;
  color: #fff;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.3);
}
.email-signup .button {
  margin-left: 0.5rem;
  padding: 0.75rem 1.5rem;
  background: #db0001;
  max-width: 100%;
  display: flex;
  border: 0;
  outline: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  line-height: 1;
  font-weight: 500;
  width: auto;
  min-height: 2.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Features css */
.features {
  padding: 50px 12%;
}

.features h2 {
  font-size: 3rem;
  font-weight: 900;
}
.features p {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0 0;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}
.col-text {
  flex-basis: 50%;
}
.col-img {
  flex-basis: 50%;
}
.col-img img {
  display: block;
  width: 90%;
}

.divider {
  width: 100%;
  height: 0.5rem;

  background-color: rgb(35, 35, 35);
}
